/* ********** Custom Properties ********** */
:root {
	--first-color: #e8be02;
	--first-alpha-color: hsla(49, 98%, 46%, 75%);
	--second-color: #4f4d53;
	--second-alpha-color: rgba(20, 25, 45, 0.75);
	--third-color: #501464;
	--third-alpha-color: rgba(80, 20, 100, 0.75);
	--fourth-color: #007a7f;
	--fourth-alpha-color: rgba(0, 122, 127, 0.75);
	--white-color: #fff;
	--gray-light-color: #f3f3f3;
	--gray-color: #ccc;
	--gray-dark-color: #666;
	--black-color: #000;
	--link-color: #509ee3;
	--title-color: #333;
	--text-color: #222;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--black-alpha-color: rgba(0, 0, 0, 0.5);
	--font: 'Raleway', sans-serif;
	--max-width: 1200px;
	--header-height: 4rem;
}

/* ********** Reset ********** */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text-color);
}

a {
	color: var(--link-color);
	transition: all 0.5s ease-out;
}

a:hover {
	opacity: 0.75;
}

h1 {
	margin: 0;
	font-size: 2rem;
	font-family: Roboto;
	color: var(--second-color);
}

h2 {
	margin: 0;
	font-size: 64px;
	font-family: Roboto;
	color: var(--first-color);
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6;
}

/* ********** HeroImage ********** */
.hero-image {
	background-image: var(--hero-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--hero-opacity-color);
}

.hero-image-title {
	font-size: 7.5vw;
	color: var(--hero-text-color);
}

/* ********** Menu ********** */
.menu-btn {
	outline: thin solid var(--first-color);
	border: 0;
	cursor: pointer;
	background-color: var(--second-color);
}

.menu-btn svg {
	fill: var(--first-color);
}

.menu {
	position: fixed;
	left: 0;
	bottom: var(--header-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--second-color);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu a {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--first-color);
}

.menu a:hover {
	color: var(--white-color);
	background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
	.menu-btn {
		display: none;
	}

	.menu {
		position: static;
		width: auto;
		flex-direction: row;
		opacity: 1;
		pointer-events: auto;
	}

	.menu a {
		padding: 0 1rem;
	}

	.menu a:last-child {
		padding-right: 0;
	}

	.menu a:hover {
		background-color: transparent;
	}
}

/* ********** Utilities ********** */
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.b-light {
	color: #5d5d5d;
	font-weight: 700;
}

.bg-gray-light {
	background-color: var(--gray-light-color);
}

.box-shadow-1 {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
	border-radius: 0.5rem;
	padding: 1rem;
	display: inline-block;
	width: 200px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--white-color);
	background-color: var(--first-color);
}
.women {
	position: absolute;
	right: 20%;
	bottom: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}
.gray-scale {
	filter: grayscale(0.3);
	-webkit-filter: grayscale(0.3);
}

.none {
	display: none;
}

.section {
	padding: 2rem 1rem;
}

.section-title {
	border-top: thin solid var(--first-color);
	border-bottom: thin solid var(--first-color);
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 250px;
	text-align: center;
	color: var(--title-color);
}

.text-first-color {
	color: var(--first-color);
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
.service-card {
	margin: 1rem auto;
	padding: 1rem;
}

.service-card h3 {
	color: var(--title-color);
}

.service-card svg {
	margin-bottom: 1.25rem;
	fill: var(--first-color);
}

@media screen and (min-width: 1024px) {
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}

	.text-lg-center {
		text-align: center;
	}

	.text-lg-left {
		text-align: left;
	}

	.text-lg-right {
		text-align: right;
	}
}

/* ********** Site Styles ********** */
.about > article {
	margin-bottom: 2rem;
}

.footer {
	margin-bottom: var(--header-height);
	padding: 0.5rem;
	text-align: center;
	color: var(--white-color);
	background-color: var(--second-color);
}

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 1rem;
	width: 100%;
	height: var(--header-height);
	background-color: var(--second-color);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a {
	color: var(--first-color);
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.services > .container {
		display: grid;
		grid-template-columns: repeat(1, 90%);
		justify-content: space-between;
		align-content: center;
	}

	.services .section-title {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1024px) {
	.about {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		justify-content: space-between;
		align-content: center;
	}

	.footer {
		margin-bottom: 0;
	}

	.header {
		position: sticky;
		top: 0;
		padding: 0.5rem;
		height: calc(var(--header-height) - 0.5rem);
	}

	.services > .container {
		grid-template-columns: repeat(1, 90%);
	}

	.footer > .container {
		display: grid;
		grid-template-columns: repeat(4, 25%);
	}

	.services .section-title {
		grid-column: span 3;
	}
}
